.nav_item{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding:10px 0px;
    position:relative;
    color: #ffff;

    &_label{
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
    }

    .nav_item_collapse{
        padding: 10px;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        display: none;


    }

    .nav_collapse-active{
        background-color: rgba(#000000, 0.12);
        display: flex;
    }
}