.navSubItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:16px;
    margin-bottom: 10px;
    font-size: 14px;
    &_bullet{
        width: 5px;
        height: 5px;
        border-radius: 5px;
        display: inline-block;
        margin-left: 14px;
        background-color: #fff;
    }
    a{
        font-weight: 500;
        text-decoration: none;
        color: #ffff;
        &:hover{
            color:#FB6450 ;
        }
    }
    &:hover > &_bullet{
        background-color:#FB6450 ;
    }

}
