.sociality_layout {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 274px 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    grid-template-areas:
        "aside_menus main_content"
        "aside_menus main_content";

    .sociality_aside {
        height: 100vh;
        display: flex;
        flex-direction: column;
        .logo {
            background-color: #31363b;
            height: 51px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 142px;
                height: 28px;
            }
        }
    }
    .aside_menus {
        display: flex;
        flex-direction: row;
        height: 100%;
        grid-area: aside_menus;

        .aside_nav {
            background-color: #393d42;
            width: 100%;
        }
        .aside_clients {
            width: 66px;
            background-color: #2a2f33;
        }
    }

    .main_content {
        grid-area: main_content;
        background-color: #F5F7F8;
    }
}
